<h3>Лекция 3<h3>

Агрегатные функции, вложенные запросы, запросы, соединения, ограничения constraint

<b>Агрегатные функции<b>

Агрегатные функции в PostgreSQL (pgAdmin 4)

Агрегатные функции выполняют вычисления над группами строк и возвращают одно значение. Они часто используются с GROUP BY для группировки данных.

<b>Основные агрегатные функции<b>

1) COUNT() – Подсчет строк

Возвращает количество строк в наборе данных.

In [ ]:
SELECT COUNT(*) FROM employees;
SELECT COUNT(salary) FROM employees WHERE department = 'IT';

Если указано COUNT(column), NULL-значения не учитываются.

2) SUM() – Сумма значений

Вычисляет сумму числовых значений в столбце.

In [ ]:
SELECT SUM(salary) FROM employees WHERE department = 'Sales';

3) AVG() – Среднее значение

Возвращает среднее арифметическое числового столбца.

In [ ]:
SELECT AVG(salary) FROM employees;

4) MIN() – Минимальное значение

Возвращает наименьшее значение в столбце.

In [ ]:
SELECT MIN(salary) FROM employees;

5) MAX() – Максимальное значение

Возвращает наибольшее значение в столбце.

In [ ]:
SELECT MAX(salary) FROM employees;

<b>Дополнительные агрегатные функции<b>

6) STRING_AGG() – Объединение строк

Объединяет строки в одну с указанным разделителем.

In [ ]:
SELECT STRING_AGG(name, ', ') FROM employees;

7) ARRAY_AGG() – Создание массива

Группирует значения в массив.

In [ ]:
SELECT ARRAY_AGG(salary) FROM employees;

8) JSON_AGG() – Группировка в JSON

SELECT JSON_AGG(row_to_json(employees)) FROM employees;

<h3>Вложенные запросы<h3>

<b>Вложенные запросы (Subqueries) в PostgreSQL (pgAdmin 4)<b>

Вложенные запросы – это SQL-запросы, которые выполняются внутри других запросов. Они используются, когда нужно сначала получить промежуточные данные, а затем использовать их в основном запросе.

<b> Виды вложенных запросов<b>

1) Вложенные запросы в WHERE

Используются для фильтрации данных на основе результатов другого запроса.

Пример: Вывести всех сотрудников, у которых зарплата выше средней.

In [ ]:
SELECT name, salary 
FROM employees 
WHERE salary > (SELECT AVG(salary) FROM employees);

2) Вложенные запросы в FROM (Derived Tables, Подзапросы в FROM)

Позволяют создавать временные таблицы внутри запроса.

Пример: Найти среднюю зарплату по каждому отделу и вывести отделы с зарплатой выше 50,000.

In [ ]:
SELECT department, avg_salary 
FROM (SELECT department, AVG(salary) AS avg_salary 
      FROM employees 
      GROUP BY department) AS salary_table
WHERE avg_salary > 50000;

3) Вложенные запросы в SELECT

Позволяют вычислять дополнительные значения в выборке.

Пример: Вывести имя сотрудника и его зарплату вместе с максимальной зарплатой в компании.

In [ ]:
SELECT name, salary, 
       (SELECT MAX(salary) FROM employees) AS max_salary 
FROM employees;

4) Вложенные запросы с EXISTS

Используются для проверки наличия строк в подзапросе.

Пример: Найти сотрудников, работающих в отделах, где есть менеджеры.

SELECT name 
FROM employees e 
WHERE EXISTS (SELECT 1 FROM employees m 
              WHERE m.department = e.department AND m.position = 'Manager');

5) Вложенные запросы с IN

Используются, когда нужно проверить, находится ли значение в списке.

Пример: Найти сотрудников, работающих в тех же отделах, что и "Alice".

In [ ]:
SELECT name 
FROM employees 
WHERE department IN (SELECT department 
                     FROM employees 
                     WHERE name = 'Alice');

6) Вложенные запросы с ANY и ALL

Используются для сравнений с несколькими значениями.

Пример (использование ANY): Вывести сотрудников, у которых зарплата выше, чем у хотя бы одного сотрудника из отдела 'IT'.

In [ ]:
SELECT name, salary 
FROM employees 
WHERE salary > ANY (SELECT salary FROM employees WHERE department = 'IT');

Пример (использование ALL): Вывести сотрудников, у которых зарплата выше, чем у всех сотрудников из отдела 'IT'.

In [ ]:
SELECT name, salary 
FROM employees 
WHERE salary > ALL (SELECT salary FROM employees WHERE department = 'IT');

<h3>Соединения (JOIN) в PostgreSQL (pgAdmin 4)<h3>

JOIN используется для объединения данных из нескольких таблиц на основе связанных между ними столбцов. Это позволяет работать с реляционными базами данных эффективно.

<b> Виды соединений (JOIN) в PostgreSQL<b>

1) INNER JOIN (Внутреннее соединение)

Возвращает только те строки, у которых есть соответствие в обеих таблицах.

Пример: Найти всех сотрудников и их отделы.

In [ ]:
SELECT employees.name, employees.salary, departments.department_name
FROM employees
INNER JOIN departments ON employees.department_id = departments.id;

Только те сотрудники, у которых есть соответствующий отдел в departments.

2) LEFT JOIN (Левое соединение)

Возвращает все строки из левой таблицы и только совпадающие строки из правой.

Пример: Вывести всех сотрудников, даже если у них нет отдела.

In [ ]:
SELECT employees.name, employees.salary, departments.department_name
FROM employees
LEFT JOIN departments ON employees.department_id = departments.id;

Если у сотрудника нет отдела, department_name будет NULL.

3) RIGHT JOIN (Правое соединение)

Возвращает все строки из правой таблицы и только совпадающие строки из левой.

Пример: Вывести все отделы и их сотрудников (даже если в отделе нет сотрудников).

In [ ]:
SELECT employees.name, employees.salary, departments.department_name
FROM employees
RIGHT JOIN departments ON employees.department_id = departments.id;

Если в отделе нет сотрудников, name и salary будут NULL.

In [ ]:
4) FULL JOIN (Полное соединение)

Возвращает все строки из обеих таблиц, заполняя NULL, если совпадения нет.

Пример: Вывести всех сотрудников и отделы, даже если у них нет соответствия.

In [ ]:
SELECT employees.name, employees.salary, departments.department_name
FROM employees
FULL JOIN departments ON employees.department_id = departments.id;

Если у сотрудника нет отдела или у отдела нет сотрудников, в соответствующих колонках будет NULL.

5) CROSS JOIN (Декартово произведение)

Объединяет каждую строку из первой таблицы с каждой строкой из второй.

Пример: Перебрать все возможные комбинации сотрудников и отделов.

In [ ]:
SELECT employees.name, departments.department_name
FROM employees
CROSS JOIN departments;

Если в employees 5 строк, а в departments 3, результат будет 5 × 3 = 15 строк.

6) SELF JOIN (Самосоединение)

Используется, когда таблицу нужно соединить саму с собой.

Пример: Найти сотрудников и их менеджеров.

In [ ]:
SELECT e1.name AS employee, e2.name AS manager
FROM employees e1
LEFT JOIN employees e2 ON e1.manager_id = e2.id;

Если у сотрудника нет менеджера, manager будет NULL.

<h3>Ограничения constraint<h3>

<b>Ограничения (CONSTRAINT) в PostgreSQL (pgAdmin 4)<b>

Ограничения (CONSTRAINT) в PostgreSQL используются для обеспечения целостности и корректности данных в таблице. Они помогают предотвратить некорректные вставки, обновления и удаления данных.

Основные ограничения в PostgreSQL

1) PRIMARY KEY (Первичный ключ)

Гарантирует уникальность значений в столбце и автоматически создаёт индекс.

Пример:

In [ ]:
CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    salary NUMERIC(10,2)
);

Ограничение PRIMARY KEY означает, что id уникален и не может быть NULL.

2) FOREIGN KEY (Внешний ключ)

Обеспечивает связь между таблицами и поддерживает ссылочную целостность.

Пример:

In [ ]:
CREATE TABLE departments (
    id SERIAL PRIMARY KEY,
    department_name VARCHAR(100) NOT NULL
);

CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    department_id INT REFERENCES departments(id) ON DELETE CASCADE
);

Если удалить отдел, все связанные сотрудники также удалятся (ON DELETE CASCADE).

3) NOT NULL (Запрещает NULL)

Гарантирует, что столбец не может содержать NULL.

Пример:

In [ ]:
CREATE TABLE products (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    price NUMERIC(10,2) NOT NULL
);

Столбцы name и price всегда должны иметь значение.

4) UNIQUE (Уникальные значения в столбце)

Запрещает дублирующиеся значения в указанном столбце.

Пример:

In [ ]:
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    email VARCHAR(255) UNIQUE NOT NULL
);

Два пользователя не могут иметь одинаковый email.

5) CHECK (Проверка условий)

Позволяет задать условие для значений в столбце.

Пример:

In [ ]:
CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    salary NUMERIC(10,2) CHECK (salary > 0)
);

Сотрудник не может иметь отрицательную зарплату.

6) DEFAULT (Значение по умолчанию)

Устанавливает значение по умолчанию, если оно не указано.

Пример:

In [ ]:
CREATE TABLE orders (
    id SERIAL PRIMARY KEY,
    status VARCHAR(20) DEFAULT 'Pending'
);

Если при добавлении заказа не указать статус, он будет Pending.

7) EXCLUSION (Исключающее ограничение)

Используется для предотвращения пересекающихся значений.

Пример (уникальные временные интервалы):

In [ ]:
CREATE TABLE room_booking (
    id SERIAL PRIMARY KEY,
    room_id INT NOT NULL,
    booking_period tstzrange NOT NULL,
    EXCLUDE USING GIST (room_id WITH =, booking_period WITH &&)
);

Нельзя забронировать одну и ту же комнату на пересекающиеся временные периоды.

<b>Удаление ограничения<b>

In [ ]:
ALTER TABLE employees DROP CONSTRAINT unique_email;